* {
  box-sizing: border-box; }

.button__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.indent-2xs-top {
  margin-top: 4px; }

.indent-2xs-right {
  margin-right: 4px; }

.indent-2xs-bottom {
  margin-bottom: 4px; }

.indent-2xs-left {
  margin-left: 4px; }

.indent-xs-top {
  margin-top: 8px; }

.indent-xs-right {
  margin-right: 8px; }

.indent-xs-bottom {
  margin-bottom: 8px; }

.indent-xs-left {
  margin-left: 8px; }

.indent-sm-top {
  margin-top: 12px; }

.indent-sm-right {
  margin-right: 12px; }

.indent-sm-bottom {
  margin-bottom: 12px; }

.indent-sm-left {
  margin-left: 12px; }

.indent-md-top {
  margin-top: 16px; }

.indent-md-right {
  margin-right: 16px; }

.indent-md-bottom {
  margin-bottom: 16px; }

.indent-md-left {
  margin-left: 16px; }

.indent-lg-top {
  margin-top: 20px; }

.indent-lg-right {
  margin-right: 20px; }

.indent-lg-bottom {
  margin-bottom: 20px; }

.indent-lg-left {
  margin-left: 20px; }

.indent-xl-top {
  margin-top: 24px; }

.indent-xl-right {
  margin-right: 24px; }

.indent-xl-bottom {
  margin-bottom: 24px; }

.indent-xl-left {
  margin-left: 24px; }

.size-xs {
  font-size: 12px; }

.size-sm {
  font-size: 14px; }

.size-md {
  font-size: 16px; }

.size-lg {
  font-size: 20px; }

.size-xl {
  font-size: 24px; }

.size-heading {
  font-size: 28px; }

.line-xs {
  line-height: 12px; }

.line-sm {
  line-height: 16px; }

.line-md {
  line-height: 20px; }

.line-lg {
  line-height: 24px; }

.line-xl {
  line-height: 28px; }

.weight-normal {
  font-weight: normal; }

.weight-bold {
  font-weight: 600; }

.decoration-underline {
  text-decoration: underline; }

.decoration-none {
  text-decoration: none; }

.button {
  position: relative;
  display: block;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  line-height: 20px;
  letter-spacing: .3px;
  color: #262627;
  outline: none;
  text-decoration: none;
  transition: all ease-in 150ms;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; }
  .button:focus {
    outline: 0; }
  .button.is-disabled {
    opacity: .5;
    cursor: not-allowed; }
  .button--width-auto {
    padding: 0;
    width: auto; }
  .button--full-width {
    width: 100%; }
  .button--inline {
    display: inline-flex; }
  .button--primary {
    background-color: #4fb0ae;
    color: #fff; }
    .button--primary:hover {
      background-color: #69bcba;
      color: #fff; }
    .button--primary.is-disabled:hover {
      background-color: #4fb0ae; }
    .button--primary:active {
      background-color: #4ba7a5; }
  .button--secondary {
    background-color: rgba(0, 0, 0, 0.07);
    color: #262627; }
    .button--secondary:hover {
      background-color: rgba(212, 212, 212, 0.2095);
      color: #262627; }
    .button--secondary.is-disabled:hover {
      background-color: rgba(0, 0, 0, 0.07); }
    .button--secondary:active {
      background-color: rgba(0, 0, 0, 0.1165); }
  .button--green {
    background-color: #7DBB91;
    color: #fff; }
    .button--green:hover {
      background-color: #91C5A2;
      color: #fff; }
    .button--green.is-disabled:hover {
      background-color: #7DBB91; }
    .button--green:active {
      background-color: #77B28A; }
  .button--yellow {
    background-color: #e4b83a;
    color: #fff; }
    .button--yellow:hover {
      background-color: #E8C358;
      color: #fff; }
    .button--yellow.is-disabled:hover {
      background-color: #e4b83a; }
    .button--yellow:active {
      background-color: #D9AF37; }
  .button--red {
    background-color: #D95767;
    color: #fff; }
    .button--red:hover {
      background-color: #DF707E;
      color: #fff; }
    .button--red.is-disabled:hover {
      background-color: #D95767; }
    .button--red:active {
      background-color: #CE5362; }
  .button--black {
    background-color: #262627;
    color: #fff; }
    .button--black:hover {
      background-color: #474747;
      color: #fff; }
    .button--black.is-disabled:hover {
      background-color: #262627; }
    .button--black:active {
      background-color: #242425; }
  .button--white {
    background-color: #fff;
    color: #262627; }
    .button--white:hover {
      background-color: #fff;
      color: #262627; }
    .button--white.is-disabled:hover {
      background-color: #fff; }
    .button--white:active {
      background-color: #f2f2f2; }
  .button--transparent {
    border: 1px solid transparent;
    background-color: transparent;
    color: #262627; }
    .button--transparent:hover {
      background-color: rgba(0, 0, 0, 0.07);
      color: #262627; }
    .button--transparent:active {
      background-color: rgba(0, 0, 0, 0.1165); }
  .button--md {
    padding: 0 16px; }
  .button--xs {
    padding: 0 8px; }
  .button--circle, .button--square {
    padding: 0; }
  .button--circle {
    width: calc(30px + 2px);
    height: calc(30px + 2px);
    color: #262627;
    border-radius: 50%; }
    .button--md .button--circle {
      width: calc(38px + 2px);
      height: calc(38px + 2px); }
    .button--xs .button--circle {
      width: calc(26px + 2px);
      height: calc(26px + 2px); }

.button__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 14px; }
  .button__body :not(:first-child) {
    margin: 0 0 0 12px; }
  .button__body--reverse {
    flex-direction: row-reverse; }
    .button__body--reverse :not(:first-child) {
      margin: 0 12px 0 0; }
  .button--md .button__body {
    height: 38px;
    font-size: 16px; }
  .button--xs .button__body {
    height: 26px;
    font-size: 12px; }
  .button--align-left .button__body {
    justify-content: flex-start; }
  .button--square .button__body {
    width: 30px; }
  .button--md.button--square .button__body {
    width: 38px; }
  .button--xs.button--square .button__body {
    width: 26px; }
  .button__body--circle {
    width: 30px;
    height: 30px; }
    .button--md .button__body--circle {
      width: 38px;
      height: 38px; }
    .button--xs .button__body--circle {
      width: 26px;
      height: 26px; }

.button__icon {
  display: flex;
  flex-shrink: 0;
  width: 14px;
  height: 14px; }
  .button__icon--xs {
    width: 10px;
    height: 10px; }
  .button__icon--sm {
    width: 12px;
    height: 12px; }
  .button__icon--md {
    width: 16px;
    height: 16px; }
  .button__icon--lg {
    width: 20px;
    height: 20px; }

.svg-icon {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
  border-radius: inherit; }
