// Grey
$grey--50: #e6e6e6;
$grey--100: #e3e3e3;
$grey--200: #d3d3d3;
$grey--300: #bbbbbb;
$grey--400: #aaaaaa;
$grey--500: #898989;
$grey--600: #4c4c4c;
$grey--700: #474747;
$grey--800: #3d3d3d;
$grey--900: #262627;
$grey--1000: #242425;
$grey--a100: #fafafa;
$grey--a200: #f2f2f2;
$grey--a300: #f0f0f0;

// Teal
$teal--200: #69bcba;
$teal--300: #4fb0ae;
$teal--400: #4ba7a5;

// Red
$red--50: #f09f97;
$red--100: #eb9292;
$red--200: #e98382;
$red--300: #e67373;
$red--400: #df707e;
$red--500:#e15554;
$red--600: #d95767;
$red--700: #ce5362;
$red--800: #e04f78;
$red--900: #bf395b;
$red--a100: #f7eaeb;

// Green
$green--50:  #91C5A2;
$green--100: #7DBB91;
$green--200: #77B28A;
$green--300: #649674;
$green--500: #3FC46A;
$green--a100: #E9F3EC;
$green--a200: #E5F1E9;
$green--a300: #DAE5DD;

// Yellow
$yellow--400: #f3cd59;
$yellow--500: #e8c358;
$yellow--600: #e4b83a;
$yellow--700: #d9af37;

// Orange
$orange--100: #ffba49;
